/* BANNER MESSAGES */
.humanized_msg,
.humanized_error_msg {
  /*position: absolute; left:25%;*/
  width:50%;
  color: white;
  font-size: 19px; text-align: center;
  padding-top:18px; padding-bottom: 20px;
  /*overflow:visible;*/
  cursor:pointer;
}

.humanized_msg .banner-message-left,
.humanized_error_msg .banner-message-left {
	height:74px;
	width:23px;
	background-repeat:no-repeat;
	padding-top:20px;
}
.humanized_msg .banner-message-center,
.humanized_error_msg .banner-message-center {
	height:74px;
	width:100%;
	background-repeat:repeat-x;
	padding-top:20px;
	padding-left:0px; padding-right:0px;
}
.humanized_msg .banner-message-right,
.humanized_error_msg .banner-message-right {
	height:74px;
	width:46px;
	background-repeat:no-repeat;
	padding-top:20px;
}

.humanized_msg .banner-message-left{
	background-image:url(/images/humanized_msg/bg-banner-success-left.gif);
}
.humanized_msg .banner-message-center{
	background-image:url(/images/humanized_msg/bg-banner-success-center.gif);
}
.humanized_msg .banner-message-right{
	background-image:url(/images/humanized_msg/bg-banner-success-right.gif);
}
.humanized_error_msg .banner-message-left{
	background-image:url(/images/humanized_msg/bg-banner-error-left.gif);
}
.humanized_error_msg .banner-message-center{
	background-image:url(/images/humanized_msg/bg-banner-error-center.gif);
}
.humanized_error_msg .banner-message-right{
	background-image:url(/images/humanized_msg/bg-banner-error-right.gif);
}
.humanized_msg p{
    padding: .3em; display: inline;
}

/* FILE FIELDS */
.x-form-file{
	height: 20px;
}

/* Ext grid in IE6 has width 10000! */
.x-grid3-header-offset{padding-left:1px;width:auto;}

/* This makes large text in ext grids wrap, instead of getting cut-off
   http://extjs.com/forum/showthread.php?t=23435
*/
.x-grid3-cell-inner, .x-grid3-hd-inner {
	overflow: 	auto;
	white-space: 	normal !important;
}

}
.msg .x-box-mc {
     font-size:14px;
}
#toggle-msg-div {
     position:absolute;
     left:35%;
     top:10px;
     width:250px;
     z-index:20000;
}

.link {
	cursor: pointer;
	text-decoration:underline;
	color:#330066;
}

.link-disabled {
	color:#999999;
	text-decoration:underline;
}


/* needed by file upload fields */
.x-form-file-wrap {
    position: relative;
    height: 22px;
}
.x-form-file-wrap .x-form-file {
	position: absolute;
	right: 0;
	-moz-opacity: 0;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
    height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
	position: absolute;
	right: 0;
	z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
    position: absolute;
    left: 0;
    z-index: 3;
    color: #777;
}
/*  end of file upload fields */
.body-cls {
    background-color: #CDCDCD;
}
.site-box {
    border: 1px solid black;
    background-color: white;
    margin-top:15px;
    width: 800px;
}
/* make the grid cell content wrap always */
.x-grid3-cell-inner, .x-grid3-hd-inner { 
    white-space:normal !important; 
}

#yft-overlay {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 14999;
    width: 100%;
    height: 500px;
    background-color: #000;
    padding: 0;
    margin: 0;
}





