body  {background:transparent url(../images/bg_blk.gif) repeat scroll 0 0;
color:#666666;
font-family:Arial,Helvetica,sans-serif,Verdana;
font-size: 11px;
line-height:1.5em;
margin-top:15px;

}

.body  {background:transparent url(../images/bg_blk.gif) repeat scroll 0 0;
color: #666666;
font-family:  Arial, Helvetica, sans-serif;
font-size: 11px;
line-height:1.5em;
}

table, td, tr, div, p, span, li  {
    font-family: arial, Helvetica, sans-serif;
    font-size: 11px;
    color:#666666; 
}

.divbullet {text-indent: 12;  
}

/*fonts*/


.lg_head {font-family: Arial, Helvetica, sans-serif; font-size:16px; color:#FFFFFF;
}
.blue_head {font-size:14px; color: #195991; font-family:Arial, Helvetica, sans-serif;
}
.sectiontitle {font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight:bold;
}
.sub-head {font-size:12px; color:#666666; font-weight:bold;
} 

.menu-link { text-decoration:none; color:#666666; padding-right:8px; padding-left:30px; height:30px;
}
.smfont {font-size:10px;
}

.red-font {font-weight: bold; text-decoration:none; color:#ca1515;}
.green-font {font-weight: bold; text-decoration:none; color:#4e611e;}
.no-underline { text-decoration:none; color:#000000;}
.li-style {list-style:square;}

.error-text {color:#CC0000; font-size:12px; font-weight:bold;
}

/*end fonts*/



/*miscellaneous*/

.wht_bg {background-color:#FFFFFF; 
}

.noline {text-decoration:none; color:#666666;
}

.linegrey {color:#666666;
}

.nopad {padding:0px;
}

.outterdiv {border:#000000 thin solid; width:1050px;
} 

.tilebar {background-repeat:no-repeat; background-image:url(../images/titlebar2.gif);
}
/*end of miscellaneous*/


.dropdown {
    width:175px;
    background-color:#FFFFFF;
    border:solid thin color:#000000; 
}

strong {
    font-weight:bold;
}

.dotted-border {border-right:dotted #dddddd thin 1px;
}
