---
title: Dashboard
in_menu: true
routed_title: Dashboard
page_class: Yft.GFinance.DashboardPage
page_js_files:  /dashboard/page.js dashboard/price-volume-upswings.js
--- name:content
<table cellspacing='2' cellpadding='0' style='width:80%;'>
<tr><td><div id='price-vol-swing-div'></div></td></tr>
</table>
