---
title: Home
in_menu: false
page_class: Yft.GFinance.LoginPage
page_js_files:  /login-page.js
--- name:content
<table cellspacing='4' cellpadding='5' style='width:350px;padding-top:50px;'>
<tr>
  <td><div style='width:25%;'>&nbsp;</div></td>
  <td><div id='login-form'></div></td>
  <td><div style='width:25%;'>&nbsp;</div></td>
</tr>
</table>
